<h4>
    {% if user_id == post.user_id %}
        {{post.firstname}} {{post.lastname}}
    {% else %}
        <a href="index.php?page=profile&user_id={{post.user_id}}">{{post.firstname}} {{post.lastname}}</a>
    {% endif %}
</h4>
<p>
    {{ post.main_text}}
</p>

