{% extends "homepage.html.twig"%}
{% block stylesheets %}
    {{ parent() }}    
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
{% endblock %}   
{% block javascripts %}
    {{ parent() }}
    <script src="js/moment.min.js"></script>      
    <script src="js/it.js"></script>      
    <script src="js/bootstrap-datetimepicker.min.js"></script>     
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker').datetimepicker({'viewMode': 'years', 'format': 'DD/MM/YYYY', 'maxDate': moment({hour: 23, minute: 59})});
        });
    </script>    
{% endblock %}
{% block h2 %}Modifica qui le tue informazioni personali.<br>Saranno visibili solo a te e ai tuoi amici!{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal" autocomplete="off" novalidate="novalidate" action="index.php?page=myuser" method="POST" role="form">
                {% if okay %}
                    <div class="alert alert-success">Dati aggiornati correttamente</div>
                {% endif %}
                {% if errors.generic %}
                    <div class="alert alert-danger">{{ errors.generic }}</div>
                {% endif %}
                <fieldset>
                    <legend>Dati anagrafici</legend>
                    <div class="form-group form-group-lg">
                        <label for="myuser_birthdate" class="col-sm-2 control-label">Data di nascita</label>
                        <div class="col-sm-10">
                            <div class="input-group date" id="datetimepicker">
                                <input type="text" class="form-control" placeholder="Data di nascita" id="myuser_birthdate" name="myuser[birthdate]" value="{{ form.birthdate }}">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                            {% if errors.birthdate %}
                                <div class="text-danger">{{ errors.birthdate }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label for="myuser_birthplace" class="col-sm-2 control-label">Luogo di nascita</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Luogo di nascita" id="myuser_birthplace" name="myuser[birthplace]" value="{{ form.birthplace }}">
                            {% if errors.birthplace %}
                                <div class="text-danger">{{ errors.birthplace }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="col-sm-2 control-label">Sesso</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" id="myuser_gender_1" name="myuser[gender]" value="f" {% if form.gender == "f" %}checked="checked"{% endif %}> Uomo
                            </label>
                            <label class="radio-inline">
                                <input type="radio" id="myuser_gender_2" name="myuser[gender]" value="t" {% if form.gender == "t" %}checked="checked"{% endif %}> Donna
                            </label>
                            {% if errors.gender %}
                                <div class="text-danger">{{ errors.gender }}</div>
                            {% endif %}
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Residenza</legend>
                    <div class="form-group form-group-lg">
                        <label for="myuser_domicile_city" class="col-sm-2 control-label">Città</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Città" id="myuser_domicile_city" name="myuser[domicile_city]" value="{{ form.domicile_city }}">
                            {% if errors.domicile_city %}
                                <div class="text-danger">{{ errors.domicile_city }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label for="myuser_domicile_province" class="col-sm-2 control-label">Provincia</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Provincia" id="myuser_domicile_province" name="myuser[domicile_province]" value="{{ form.domicile_province }}">
                            {% if errors.domicile_province %}
                                <div class="text-danger">{{ errors.domicile_province }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label for="myuser_domicile_state" class="col-sm-2 control-label">Stato</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Stato" id="myuser_domicile_state" name="myuser[domicile_state]" value="{{ form.domicile_state }}">
                            {% if errors.domicile_state %}
                                <div class="text-danger">{{ errors.domicile_state }}</div>
                            {% endif %}
                        </div>
                    </div>
                </fieldset>
                {% if isVip %}
                    <fieldset>
                        <legend>Luogo preferito</legend>
                        <div class="form-group form-group-lg">
                            <label for="favorite_place" class="col-sm-2 control-label">Luogo</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="favorite_place" id="favorite_place">
                                    <option value=""></option>
                                    {%- for place in places -%}
                                        <option value="{{place.id}}_{{place.user_id}}" 
                                                {%- if place.id == user.favorite_place_post_id and place.user_id == user.favorite_place_post_user_id -%}selected="selected"{%- endif -%}>
                                            {{place.main_text}}; Lat: {{place.latitude}}, Lang: {{ place.longitude}}
                                        </option>
                                    {%- endfor -%}
                                </select>
                                {% if errors.favorite_place %}
                                    <div class="text-danger">{{ errors.favorite_place }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>

                {% endif %}

                <div class="form-group form-group-lg">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-lg btn-primary">Aggiorna</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}